{% extends 'base.html' %}
{% load static %}

{% block title %}Hanalucka Resorts {% endblock %}

{%block css%}
<link rel="stylesheet" href="{% static 'resort/resort.css'%}">
<link rel="stylesheet" href="{% static 'resort/card.css'%}">

{% endblock %}

 {% block body%}

<section id="hero">
    <div class="cover">
        <h1> Hanalucka Resorts</h1>
        <p> Come stay awhile</p>
    </div>
</section>

<section id="welcome">
<h2> Welcome to Hanalucka Resorts </h2>
<p>{% lorem 100 w random %}</p>
<p>{% lorem 100 w random %}</p>
</section>

<section id="activities-section">
<div class="cover-activities">
    <h2> Experiences </h2>
    <ul>
        {% for activities in data %}
        {% include "resort/includes/activities-card.html" %}
        {% endfor %}
    </ul>
</div>
</section>


 {% endblock %}