#hero {
    background-image: url(./photos/main_sceen.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 32vw;
    margin-top: 1px;
    border-radius: 5px;
}

.cover {
    background-color: rgba(var(--primary), .2);
}

.cover-amenities {
    background-color: rgba(var(--primary), .5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover,
.cover-amenities {
    position: relative;
    width: 100%;
    height: 100%;
}

#amenities-section {
    margin-top: 10vw;
    width: 100%;
    height: max-content;
    text-align: center;
    background-image: url(photos/outdoor_pic.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#amenities-section ul {
    display: grid;
    margin-top: 2vw;
    width: 75%;
    height: 90%;
    padding: 2vw;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    grid-gap: 4.5vw;
    align-items: center;
    justify-items: center;
}

#amenities-section h2 {
    background-color: rgba(var(--primary), 1);
    padding: 1vw;
    align-self: stretch;
}