:root {
    --background-primary: 100, 100, 100;
    --text-primary: 187, 172, 17;
    --primary: 0, 0, 48;
    --secondary: 138, 158, 9;
    --shadow: rgb(0 0 0 / 50%) -2px 3px 3px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
   
}

body {
    margin: 0 8vw 0 8vw;
    background-color: rgb(var(--background-primary));
}

p {
    font-size: 1.03vw;
}

h1 {
    font-size: 2vw;
}

h2 {
    font-size: 1.5vw;
}

h3{
    font-size: 1.2vw;
}

h1, h2, h3 {
    letter-spacing: 1px;
    color: rgba(var(--text-primary), 1)
}

#header {
    margin-left: -8vw;
    position: sticky;
    top: 0;
    width: 100vw;
    bottom: 5vw;
    background-color: rgb(var(--primary));
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);
}

#header h1{
    color: rgba(var(--text-primary), 1);
}

    #header input {
        min-height: 1.8vw;
        width: 15vw;
        padding: 0.3vw;
        margin-right: 2vw;
    }

#header div {
    min-height: 1.8vw;
    padding: 0.3vw;
    margin-left: 1vw;

}
    #header svg {
        height: 5vw;
        width: 16vw;
    }

#footer {}