:root {
    --background-primary: 185, 185, 185;
    --text-primary: 212, 155, 0;
    --text-secondary: 200, 200, 200;
    --primary: 0, 0, 0;
    --secondary: 3, 3, 131;
    --shadow: rgb(0 0 0 / 50%) -2px 3px 3px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: rgb(var(--background-primary));
}

p {
    font-size: 1.03vw;
    color: rgb(var(--text-secondary));
}

h1 {
    font-size: 2vw;
}

h2 {
    font-size: 1.5vw;
}

h3 {
    font-size: 1.2vw;
}

h1,
h2,
h3 {
    letter-spacing: 1px;
    color: rgba(var(--text-primary), 1)
}


/****************************************************** Header section ***********************************************************************/

#header {
    position: sticky;
    margin-left: -5vw;
    z-index: 10;
    top: 0;
    width: 100vw;
    bottom: 5vw;
    background-color: rgb(var(--primary));
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);
    overflow: hidden;
}

#header h1 {
    color: rgba(var(--text-primary), 1);
}

#header h3 {
    margin-right: -50%;
}

#header a {
    text-decoration: none;
    color: rgb(var(--text-primary));
}

#header input {
    min-height: 1.8vw;
    width: 15vw;
    padding: 0.3vw;
    margin-right: 2vw;
}

#header div {
    min-height: 1.8vw;
    padding: 0.3vw;
    margin-left: 1vw;
}

#header svg {
    height: 4vw;
    width: 16vw;
}


/****************************************************** Footer section ***********************************************************************/

#footer {
    position: relative;
    bottom: 0;
    margin-left: -5vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    box-shadow: var(--shadow);
    margin-top: 5vw;
    overflow: hidden;
}

#footer svg {
    width: 13vw;
}

#footer ul {
    color: rgb(var(--text-secondary));
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 10vw;
    margin-bottom: 1vw;
}

#footer li {
    cursor: pointer;
    font-size: 1.3vw;
    transition: all ease .5s;
}

#footer li:hover {
    transform: translate(0, -2px);
}

#footer img {
    width: 3vw;
    height: 3vw;
    cursor: pointer;
    transition: all ease .5s;
}

#footer img:hover {
    transform: translate(0, -2px);
}

#footer div {
    margin: 2vw;
    align-self: flex-start;
}


/*********************************************************Scroll-bar section*************************************************************************/

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(var(--primary), 1);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(var(--primary), 1);
    outline: 1px solid slategrey;
}


/********************************************************Responsive section********************************************************/

@media screen and (max-width: 1200px) {
    #footer ul {
        flex-direction: row;
        height: 5vw;
    }
    #header input {
        width: 30vw;
        margin-right: 5vw;
    }
    #header h3 {
        margin-right: 0;
    }
}

@media screen and (max-width:800px) {
    #header svg {
        height: 7vw;
        width: 30vw;
    }
    #footer svg {
        width: 30vw;
    }
    #header input {
        width: 30vw;
        height: 10%;
        margin-right: 5vw;
    }
}