<!DOCTYPE html> 
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "base.css" %}">
     {% block css%} {% endblock %}
</head>

<body>
    <header id="header">
        <div>
        <a href="/">
            {% include "logo.html"%}
        </a>
        </div>
        <h3><a href="/booking">Booking</a></h3>
        <input type="text" name="search" placeholder="Search" />
    </header>

    {% block body %} {% endblock %}

    <footer id="footer">
        <div>{% include "logo.html"%}</div>
        <ul>
            <li><a>ABOUT US</a></li>
            <li><a>CAREERS</a></li>
            <li><a>CONTACT US</a></li>
            <li><a href="/"><img src="https://img.icons8.com/material/24/FFFFFF/facebook--v1.png" alt="facebook logo"/></a> <a href=""><img src="https://img.icons8.com/material/24/FFFFFF/instagram-new--v1.png" alt="instagram logo"/></a> <a href=""><img src="https://img.icons8.com/material/24/FFFFFF/twitter--v1.png" alt="twitterlogo"/></a></li>
        </ul>
        <p>&copy; Hanalucka Resorts 07/21/2021 </p>
        <a href="https://icons8.com/icon/84872/facebook">icons by Icons8</a>
    </footer>
</body>

</html>